APP_ENV=local
SERVER_PORT=3000
PORT=3001
SALT_FACTOR=
# Database.
DB_CONNECTION=mysql
# Mysql
DB_PORT=3306
DB_HOST=localhost
DB_NAME=assessment
DB_USER=root
DB_PASSWORD=root123
DB_POOL_CONNECTION_LIMIT=10
JWT_SECRET_KEY=assessment
JWT_ISSUER=assessment
JWT_EXPIRY=

ENCRYPTION_KEY="RpOxSIOEKCM5mp/0fcrsDMmPHQLhzYKKu1w1HGROd8s="